.App, .loader-overlay {
  width: 350px;
  height: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-list {
  width: 350px;
  height: 308px;
  overflow-y: auto;
}
.loader-overlay {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 1;
}
.loading-indicator {
  display: inline-block;
}
.grid-tile a {
  color: #fff;
}
